
singularity {
        enabled = true
        runOptions = '-B /beegfs -B /homes --nv'
        envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITY_LD_LIBRARY_PATH'
    }
params {
// Singularity Images 
fold_singularity_image = "/homes/vishnu/singularity_images/pulsarx-2022-05-04-2de932f7d130.simg"
search_singularity_image = "/homes/ebarr/singularity_images/fbfhn01.mpifr-be.mkat.karoo.kat.ac.za_7000_trapum_search:cuda10.2-20211008-2021-10-08-0326eec5797c.simg"
sql_query_image = "/homes/vishnu/singularity_images/mmgps_sql_latest.sif"

}

// HTcondor Executor for APSUSE Cluster 

    process {
        executor = 'condor'

         withLabel: 'filtool' {
            cpus = 6
            memory = '50 GB'
            time = '6h'
            scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
        }

    }