
singularity {
        enabled = true
        runOptions = '-B /beegfs:/beegfs -B /homes:/homes --nv'
        envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITY_LD_LIBRARY_PATH'
    }


// HTcondor Executor for APSUSE Cluster 

  process {
    executor = 'condor'

    withLabel: 'query_db' {
        cpus = 1
        memory = '5 GB'
        time = '1h'
        clusterOptions = 'requirements = regexp(".*apspn*", Machine)'
        scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
    }

    withLabel: 'filtool' {
        cpus = 6
        memory = '50 GB'
        time = '6h'
        clusterOptions = 'requirements = regexp(".*apspn*", Machine)'
        scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
    }

    withLabel: 'create_phase_predictor' {
        cpus = 1
        memory = '5 GB'
        time = '1h'
        clusterOptions = 'requirements = regexp(".*apspn*", Machine)'
        scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
    }

    withLabel: 'nearest_power_two' {
        cpus = 1
        memory = '5 GB'
        time = '1h'
        clusterOptions = 'requirements = regexp(".*apspn*", Machine)'
        scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
    }

    withLabel: 'peasoup' {
        cpus = 1
        memory = '50 GB'
        time = '3h'
        clusterOptions = 'request_gpus = 1; requirements = regexp(".*apspn*", Machine)'
        scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
    }

    withLabel: 'fold_phase_predictor' {
        cpus = 6
        memory = '40 GB'
        time = '8h'
        clusterOptions = 'requirements = regexp(".*apspn*", Machine)'
        scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
    }

    withLabel: 'fold_ephemeris' {
        cpus = 6
        memory = '40 GB'
        time = '8h'
        clusterOptions = 'requirements = regexp(".*apspn*", Machine)'
        scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
    }

    withLabel: 'clfd' {
        cpus = 1
        memory = '5 GB'
        time = '1h'
        clusterOptions = 'requirements = regexp(".*apspn*", Machine)'
        scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
    }
    withLabel: 'pdmp' {
        cpus = 1
        memory = '5 GB'
        time = '2h'
        clusterOptions = 'requirements = regexp(".*apspn*", Machine)'
        scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
    }

    withLabel: 'digifil' {
        cpus = 6
        memory = '50 GB'
        time = '8h'
        clusterOptions = 'requirements = regexp(".*apspn*", Machine)'
        scratch = '/beegfs/PROCESSING/USER_SCRATCH/vishnu'
    }
}
