
singularity {
        enabled = true
        runOptions = '-B /beegfs -B /homes --nv'
        envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITY_LD_LIBRARY_PATH'
    }
params {
// Singularity Images 
//pulsarx_singularity_image = "/homes/vishnu/singularity_images/pulsarx-2022-05-04-2de932f7d130.simg"
search_singularity_image = "/homes/ebarr/singularity_images/fbfhn01.mpifr-be.mkat.karoo.kat.ac.za_7000_trapum_search:cuda10.2-20211008-2021-10-08-0326eec5797c.simg"
sql_query_image = "/homes/vishnu/singularity_images/mmgps_sql_latest.sif"
fold_singularity_image = "/homes/ebarr/singularity_images/trapum_pulsarx_fold_docker_20220411.sif"

}

// Run Locally on APSUSE Cluster 

    process {
        executor = 'local'
    }
