//Pipeline defaults
params {

// Target to Followup
target_name = "J0917-4413"
beam_name = "cfbf00000"
period_start = "0.05285"
period_end = "0.05299"
utc_start = "2023-08-20"
utc_end = "2023-09-30"



// Filtool

telescope = "meerkat"
rfi_filter = "zdot"
threads = "12"
db_query = "${baseDir}/find_raw_filterbank_based_on_source_name.py"
phase_predictor = "${baseDir}/create_phase_predictor_dspsr_peasoup_period_range_cands.py"

// Peasoup
min_snr = "8.0"
acc_start = "-10.0"
acc_end = "10.0"
ram_limit_gb = "50.0"
nh = "4"
ngpus = "1"
total_cands_limit = "100000"
fft_size = "67108864"
dm_file = "${baseDir}/dm_range_peasoup.sh"

//dspsr 
dspsr_threads = "4"
dspsr_subint_length = "5"
dspsr_apsuse_bins = "128"
dspsr_ptuse_bins = "512"
}




profiles {
   local {
    includeConfig 'local.config'   
 }
   condor {
    includeConfig 'condor.config'
   }
}