//Pipeline defaults
params {

// Target to Followup
target_name = "J0917-4413"
beam_name = "cfbf00000"
xml_spin_period_grep = "0.0529"
utc_start = "2023-08-20"
utc_end = "2023-09-30"



// Filtool

telescope = "meerkat"
rfi_filter = "zdot"
threads = "12"
db_query = "${baseDir}/find_raw_filterbank_based_on_source_name.py"


}


profiles {
   apsuse {
    includeConfig 'apsuse.config'
  }
  }