//Pipeline defaults
params {

// Target to Followup
target_name = "J0917-4413"
beam_name = "cfbf00000"
period_start = "0.05285"
period_end = "0.05299"
utc_start = "2023-08-20"
utc_end = "2023-09-30"



// Filtool

telescope = "meerkat"
rfi_filter = "zdot"
threads = "12"
db_query = "${baseDir}/find_raw_filterbank_based_on_source_name.py"
phase_predictor = "${baseDir}/create_phase_predictor_dspsr_peasoup_period_range_cands.py"

// Peasoup
min_snr = "8.0"
acc_start = "-10.0"
acc_end = "10.0"
ram_limit_gb = "50.0"
nh = "4"
ngpus = "1"
total_cands_limit = "100000"
fft_size = "67108864"
dm_file = "${baseDir}/dm_range_peasoup.sh"


//clfd
//Do you want to use clfd to clean your archives? 1=yes, 0=no 
use_clfd = 1
qmask = 2.0
qspike = 4.0
clfd_processes = 4

//pdmp
nchan = 32
nsubint = 5
nbins = 128

//Do you want to fold APSUSE observations? 1=yes, 0=no 
APSUSE_FOLDS = 1
dspsr_apsuse_threads = 4
dspsr_apsuse_subint_length = 5
dspsr_apsuse_bins = 128


//Do you want to fold PTUSE observations? 1=yes, 0=no 
PTUSE_FOLDS = 0
dspsr_ptuse_threads = 20
dspsr_ptuse_subint_length = 2
dspsr_ptuse_bins = 2048
ephemeris_file = ""

// PTUSE_DIR_TO_SEARCH
PTUSE1 = "/beegfs/DATA/MeerTIME/SCI-20200703-MK-01/search"
PTUSE2 = "/beegfs/DATA/PTUSE/SCI-20200703-MK-01/search/4"
}




profiles {
   local {
    includeConfig 'local.config'   
 }
   condor {
    includeConfig 'condor.config'
   }
}